/* Tailwind directives - make sure you have tailwindcss installed and configured */
/* These will be processed by the Tailwind CSS processor */

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

/* Remove global body styles that interfere with login/signup */
body {
  background-color: transparent; /* Let child components control background */
  display: block; /* Reset to default to avoid flex affecting login/signup */
}

/* Style for login/signup container */
.body-lo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e5e7eb; /* Matches Tailwind's bg-gray-100 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* All landing page styles remain unchanged below this point */

/* .screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.page {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  gap: 7%;
}

.left-part {
  /* flex: 0 0 20vw; */
  width: 20vw;
  /* min-width: 5vw; */
  height: 100vh;
}

.middle-part {
  /* flex: 0 1 40vw;  */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post_container {
  margin-top: 7%;
  width: 50vw;
  height: 100vh;
  border-radius: 10px;
  margin-bottom: 20%;
  /* overflow: hidden; */
}

.user_profile {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
}

.user_info {
  font-size: small;
  margin-left: 1vw;
  color: #333333;
  margin-bottom: 1vh;
}

#user_badge {
  color: #2E7D32;
  font-weight: 700;
}

.recipe-image {
  width: 50vw;
  height: 90vh;
  object-fit: cover;
  border-radius: 10px;
}

.post_interations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.like_comment i:first-child {
  margin-right: 20%;
}

.user_profile i,
.like_comment i,
.ratings i {
  font-size: x-large;
  cursor: pointer;
}

.fa-star:hover,
.fa-heart:hover,
.fa-comment:hover {
  color: #8D6E63;
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
}

.fa-solid.fa-heart {
  color: #FF3B30;
}

.fa-solid.fa-star {
  color: #FFA500;
}

.search-field {
  height: 3%;
  width: 98%;
  border-radius: 14px;
  border: none;
  background-color: #FFE5B4;
  padding: 2%;
  color: #5D4037;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.search-field::placeholder {
  color: #8D6E63;
}

.post-number {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333;
}

.post-description {
  font-size: 14px;
  font-family: 'Inter';
  color: #333333;
}

.learn-more {
  border: none;
  background-color: #FAF3E0;
  font-weight: 700;
  color: #6CBF84;
  cursor: pointer;
  font-family: 'Inter';
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.learn-more:hover {
  color: #2E7D32;
  text-decoration: underline;
}

.learn-more:active {
  opacity: 0.8;
}

/*Creating a recipe post*/

.post-recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  height: 10vh;
  max-height: 100px;
  width: 28vw;
  border-radius: 6px;
  border: 5px solid #ebecec;
  outline: none;
  text-align: center;
  font-size: 25px;
  color: #2E7D32;
  font-weight: 700;
  margin-left: 17%;
}

.add-step {
  display: block;
  margin-top: 10%;
}

.step-number {
  font-style: italic;
  color: #5D4037;
  margin-top: 15%;
  font-weight: bold;
  font-size: 20px;
}

.step-titles {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 16px;
  font-weight: 600;
}

.ingredients {
  display: flex;
  flex-direction: column; /* Stack input fields vertically */
  align-items: flex-start; /* Align items to the left */
  width: 28vw;
  gap: 2vh;
}

.single-ingredient {
  display: flex;
  align-items: center;
  gap: 7vw;
  /* margin-bottom: 2vh; */
}

.input-fields {
  height: 8vh;
  width: 17vw;
  border-radius: 6px;
  padding-left: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.ingredient-btns {
  display: flex;
  align-items: center;
  gap: 20%;
}

.add-ingredients {
  border-radius: 4px;
  height: 6vh;
  width: 7vw;
  border: none;
  outline: none;
  font-size: small;
  background-color: #f8ac21;
  cursor: pointer;
}

.remove-ingredients {
  border-radius: 4px;
  height: 6vh;
  width: 7vw;
  border: none;
  outline: none;
  font-size: small;
  background-color: rgb(245, 70, 70);
  cursor: pointer;
}

.time-container {
  display: flex;
  align-items: center;
  gap: 10%;
}

.time-field1,
.time-field2 {
  height: 7vh;
  width: 6vw;
  border-radius: 6px;
  padding-left: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.delete-step {
  margin-top: 8%;
  height: 6vh;
  width: 7vw;
  color: white;
  background-color: #E57373;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-step {
  margin-top: 12%;
  /* height: 6vh; */
  width: 15vw;
  display: flex;
  align-items: center;
  gap: 7%;
}

.step-btn {
  height: 6vh;
  width: 3vw;
  color: white;
  font-weight: bold;
  font-size: x-large;
  background-color: #6CBF84;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.step-txt {
  font-weight: bold;
  font-size: large;
}

.image {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-top: 15%;
}

.caption-field {
  margin-top: 5%;
  width: 25vw;
  height: 10vh;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 3%;
}

.submit {
  width: 27vw;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 20%;
}

.submit-part {
  height: 7vh;
  width: 8vw;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: #2E7D32;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */
.navbar {
  padding-left: 1rem;
}

.navbar-name {
  color: #2E7D32;
  font-weight: bold;
}

.sites-container {
  margin-top: 1rem;
}

.sites {
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 1rem 1rem 1rem 0rem;
  cursor: pointer;
  position: relative;
  padding-left: 5%;
}

.sites::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: rgba(255, 229, 180, 0.4);  */
  background-color: rgba(93, 64, 55, 0.1);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1; /* Keeps the effect behind the text/icons */
}

.sites:hover::before {
  opacity: 1;
}

/* post */

.post-info {
  border-radius: 1vw;
  width: 50vw;
}

.post-heading,
.post-cooking-heading {
  font-size: 1.2rem;
  color: #2c2c2c;
  text-align: left;
  margin-bottom: 1vw;
}

.post-table {
  background-color: #f7f7f7;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1vw;
  border-radius: 6px;
  overflow: hidden;
}

.post-table-heading,
.post-table-data {
  padding: 1vw;
  text-align: left;
}

.post-cooking-heading {
  margin-top: 3vw;
}

.cooking-step {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 1vw;
  text-align: left;
}

.cooking-step i {
  color: #f4a261;
  font-size: 1rem;
  margin-top: 1vw;
}

.start-trial {
  text-align: left;
  margin-top: 2vw;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.start-cooking {
  background-color: #2c6e49;
  color: white;
  font-size: 1rem;
  padding: 1vw 2vw;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-cooking:hover {
  background-color: #1f5135;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}